*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    color: grey;
    font-size: 16px;
}

.header{
    background-image: url("../img/bg.jpg");
    text-align: center;
    padding: 80px 0;
    height: 300px;
}

.container{
    display: flex;
}

.navbar{
    width: 20%;
    padding: 30px;
    
}

.navbar ul{
    list-style: none;
    text-align: center;

}

.navbar li a{
    display: block;
    list-style: none;
    color: rgb(255, 255, 255);
    background-color:#C41263;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    text-decoration: none;
}

.content{
    width: 80%;
    background-color: #ffffff;
    padding: 30px;
}

h1{
    padding-bottom: 20px;
    font-size: 36px;
    color: #4B15E5;
}

footer{
    background-color: #4B15E5;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}