* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;

    .box {
        width: 30%;
        padding: 20px;
        background-color: white;
        color: black;
        border-radius: 8px;

        &.active {
            background-color: red;
        }
        

        h2 {
            font-size: 22px;
        }

        p {
            
            font-size: 18px;

            &.hidden {
                display: none;
            }
        }

        a {
            color:green;

            &:hover {
                color: yellow;

                & + p.hidden {
                    display: block;
                }
            }
        }

    }
}